In [42]:
import duckdb
import pandas as pd
import numpy as np
# Load the Postgres extension
duckdb.sql("INSTALL postgres_scanner;")
duckdb.sql("LOAD postgres_scanner;")

# credentials
pg_conn_str = "dbname='mimic-iii' user='sangeethgeorge' password='12345' host='localhost' port='5432'"

#SQL query to connect to DB
labs48_query = """
SELECT *
FROM postgres_scan('dbname=mimic-iii user=sangeethgeorge password=12345 host=localhost port=5432', 
                   'public', 'all_labs_48h')
"""
vitals48_query = """
SELECT *
FROM postgres_scan('dbname=mimic-iii user=sangeethgeorge password=12345 host=localhost port=5432', 
                   'public', 'all_vitals_48h')
"""

onc_cohort = """
SELECT *
FROM postgres_scan('dbname=mimic-iii user=sangeethgeorge password=12345 host=localhost port=5432', 
                   'public', 'oncology_icu_base')
"""

labs48_df= duckdb.sql(labs48_query).df()
vitals48_df = duckdb.sql(vitals48_query).df()
onc_cohort_df = duckdb.sql(onc_cohort).df()

In [31]:
labs48_df

,subject_id,hadm_id,icustay_id,icd9_code,short_title,itemid,label,charttime,valuenum,valueuom
0,11,194540,229441,1913,Mal neo parietal lobe,50868,Anion Gap,2178-04-16 07:12:00,14.000,mEq/L
1,11,194540,229441,1913,Mal neo parietal lobe,50882,Bicarbonate,2178-04-16 07:12:00,25.000,mEq/L
2,11,194540,229441,1913,Mal neo parietal lobe,50902,Chloride,2178-04-16 07:12:00,106.000,mEq/L
3,11,194540,229441,1913,Mal neo parietal lobe,50912,Creatinine,2178-04-16 07:12:00,0.700,mg/dL
4,11,194540,229441,1913,Mal neo parietal lobe,50931,Glucose,2178-04-16 07:12:00,129.000,mg/dL
...,...,...,...,...,...,...,...,...,...,...
314529,98805,122631,203155,1890,Malig neopl kidney,51476,Epithelial Cells,2200-09-14 15:39:00,0.000,#/hpf
314530,98805,122631,203155,1890,Malig neopl kidney,51491,pH,2200-09-14 15:39:00,7.000,units
314531,98805,122631,203155,1890,Malig neopl kidney,51492,Protein,2200-09-14 15:39:00,30.000,mg/dL
314532,98805,122631,203155,1890,Malig neopl kidney,51493,RBC,2200-09-14 15:39:00,43.000,#/hpf
314533,98805,122631,203155,1890,Malig neopl kidney,51498,Specific Gravity,2200-09-14 15:39:00,1.018,

In [32]:
vitals48_df

,subject_id,hadm_id,icustay_id,icd9_code,short_title,itemid,label,charttime,valuenum,valueuom
0,26088,194863,202891,185,Malign neopl prostate,25.0,AV Interval,2154-04-30,200.000000,msec
1,26088,194863,202891,185,Malign neopl prostate,25.0,AV Interval,2154-04-30,200.000000,msec
2,26088,194863,202891,185,Malign neopl prostate,25.0,AV Interval,2154-04-30,200.000000,msec
3,9779,110839,221891,1888,Malig neo bladder NEC,26.0,AaDO2,2134-12-24,45.549999,mmHg
4,21445,179205,213382,20280,Oth lymp unsp xtrndl org,26.0,AaDO2,2166-02-07,613.000000,mmHg
...,...,...,...,...,...,...,...,...,...,...
1684789,94924,186391,290051,1623,Mal neo upper lobe lung,227566.0,Ventilator Tank #2,2134-01-09,1400.000000,None
1684790,94924,186391,290051,1985,Secondary malig neo bone,227566.0,Ventilator Tank #2,2134-01-09,1400.000000,None
1684791,94924,186391,290051,1985,Secondary malig neo bone,227566.0,Ventilator Tank #2,2134-01-09,1400.000000,None
1684792,41744,137167,267452,1991,Malignant neoplasm NOS,227566.0,Ventilator Tank #2,2190-02-18,2000.000000,None
1684793,41744,137167,267452,1970,Secondary malig neo lung,227566.0,Ventilator Tank #2,2190-02-18,2000.000000,None

In [43]:
onc_cohort_df

,subject_id,hadm_id,icustay_id,icd9_code,short_title,intime,outtime,gender,dob,dod,admittime,ethnicity,marital_status,insurance,admission_type,age,mortality_30d
0,84,166401,239661,1919,Malig neo brain NOS,2196-04-16 23:43:00,2196-04-17 13:42:00,F,2151-10-21,2196-04-17,2196-04-14 04:02:00,WHITE,MARRIED,Private,EMERGENCY,44.0,1
1,113,109976,224661,1915,Mal neo cereb ventricle,2140-12-12 22:48:08,2140-12-13 17:42:46,M,2105-02-09,NaT,2140-12-12 22:46:00,WHITE,MARRIED,Private,EMERGENCY,35.0,0
2,11,194540,229441,1913,Mal neo parietal lobe,2178-04-16 06:19:32,2178-04-17 20:21:05,F,2128-02-22,2178-11-14,2178-04-16 06:18:00,WHITE,MARRIED,Private,EMERGENCY,50.0,0
3,505,116719,257903,1970,Secondary malig neo lung,2154-03-30 14:59:43,2154-03-31 16:35:08,M,2097-11-23,2154-08-29,2154-03-30 14:59:00,WHITE,MARRIED,Private,EMERGENCY,56.0,0
4,505,116719,257903,1985,Secondary malig neo bone,2154-03-30 14:59:43,2154-03-31 16:35:08,M,2097-11-23,2154-08-29,2154-03-30 14:59:00,WHITE,MARRIED,Private,EMERGENCY,56.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4265,98701,124568,292251,179,Malig neopl uterus NOS,2136-03-01 21:31:34,2136-03-02 18:35:05,F,2082-03-31,2136-03-11,2136-03-01 21:30:00,WHITE,MARRIED,Private,EMERGENCY,53.0,1
4266,98701,124568,292251,1976,Sec mal neo peritoneum,2136-03-01 21:31:34,2136-03-02 18:35:05,F,2082-03-31,2136-03-11,2136-03-01 21:30:00,WHITE,MARRIED,Private,EMERGENCY,53.0,1
4267,98701,124568,292251,1977,Second malig neo liver,2136-03-01 21:31:34,2136-03-02 18:35:05,F,2082-03-31,2136-03-11,2136-03-01 21:30:00,WHITE,MARRIED,Private,EMERGENCY,53.0,1
4268,98701,124568,292251,1978,Sec mal neo GI NEC,2136-03-01 21:31:34,2136-03-02 18:35:05,F,2082-03-31,2136-03-11,2136-03-01 21:30:00,WHITE,MARRIED,Private,EMERGENCY,53.0,1
4269,98805,122631,203155,1890,Malig neopl kidney,2200-09-12 19:25:51,2200-09-14 18:17:01,M,2158-03-02,NaT,2200-09-12 07:15:00,WHITE,MARRIED,Private,ELECTIVE,42.0,0

In [33]:
# Clean & Prepare
labs48_df['charttime'] = pd.to_datetime(labs48_df['charttime'])
labs48_df.dropna(subset=['valuenum'], inplace=True)

# ðŸ’¡ Tip: restrict to useful features before pivoting
labs48_topitems = (
    labs48_df.groupby('label')
    .size()
    .sort_values(ascending=False)
    .head(30)
    .index.tolist()
)
labs48_topitems

# Clean & Prepare
vitals48_df['charttime'] = pd.to_datetime(vitals48_df['charttime'])
vitals48_df.dropna(subset=['valuenum'], inplace=True)

# ðŸ’¡ Tip: restrict to useful features before pivoting
vitals48_topitems = (
    vitals48_df.groupby('label')
    .size()
    .sort_values(ascending=False)
    .head(30)
    .index.tolist()
)
vitals48_topitems

['Heart Rate',
 'Respiratory Rate',
 'O2 saturation pulseoxymetry',
 'calprevflg',
 'SpO2',
 'Non Invasive Blood Pressure systolic',
 'Non Invasive Blood Pressure diastolic',
 'Non Invasive Blood Pressure mean',
 'NBP [Systolic]',
 'NBP [Diastolic]',
 'HR Alarm [Low]',
 'HR Alarm [High]',
 'SpO2 Alarm [Low]',
 'SpO2 Alarm [High]',
 'NBP Mean',
 'Resp Alarm [Low]',
 'Resp Alarm [High]',
 'NBP Alarm [Low]',
 'NBP Alarm [High]',
 'Previous WeightF',
 'Arterial Blood Pressure mean',
 'Arterial Blood Pressure systolic',
 'Arterial Blood Pressure diastolic',
 'Arterial BP [Systolic]',
 'Arterial BP [Diastolic]',
 'Arterial BP Mean',
 'GCS - Eye Opening',
 'GCS - Verbal Response',
 'GCS - Motor Response',
 'Eye Opening']

In [40]:
# Example: keep high-coverage items
vitals48_coverage = vitals48_df.groupby('label')['icustay_id'].nunique() / vitals48_df['icustay_id'].nunique()
vitals48_high_coverage_labels = vitals48_coverage[vitals48_coverage >= 0.8].index.tolist()

vitals48_high_coverage_labels

['BUN',
 'Creatinine',
 'Heart Rate',
 'Hemoglobin',
 'Magnesium',
 'Respiratory Rate',
 'WBC']

In [41]:
# Example: keep high-coverage items
labs48_coverage = labs48_df.groupby('label')['icustay_id'].nunique() / labs48_df['icustay_id'].nunique()
labs48_high_coverage_labels = labs48_coverage[labs48_coverage >= 0.8].index.tolist()
labs48_high_coverage_labels

['Anion Gap',
 'Bicarbonate',
 'Calcium, Total',
 'Chloride',
 'Creatinine',
 'Glucose',
 'Hematocrit',
 'Hemoglobin',
 'MCH',
 'MCHC',
 'MCV',
 'Magnesium',
 'Phosphate',
 'Platelet Count',
 'Potassium',
 'RDW',
 'Red Blood Cells',
 'Sodium',
 'Urea Nitrogen',
 'White Blood Cells']

In [45]:
onc_cohort_df['icustay_id'].nunique()

2504